@model IRepository
@{
    Layout = "_InvestigatorLayout";
}

<h2>Ärenden</h2>
@await Component.InvokeAsync("ShowUserCred")

<table id="managerForm">
    <tr>
        <td class="label">Välj status:</td>
        <td>&nbsp;</td>
        <td class="label">Ärendenummer:</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <select name="status">
                <option selected="selected">Välj alla</option>
                @foreach (ErrandStatus errandStatus in Model.ErrandStatuses)
                {
                    <option>@errandStatus.StatusName</option>
                }
            </select>
        </td>
        <td><input class="button" type="submit" value="Hämta lista" /></td>
        <td><input name="casenumber" /></td>
        <td><input class="button" type="submit" value="Sök" /></td>
    </tr>
</table>

<!--Nedan ser man en lista på ärenden-->
<table>
    <tr>
        <th>Ärende anmält</th>
        <th>Ärendenummer</th>
        <th>Miljöbrott</th>
        <th>Status</th>
        <th>Avdelning</th>
        <th>Handläggare</th>
    </tr>
    @foreach (MyErrand err in Model.GetInvestigatorList())
    {
        <tr>
            <td>@err.DateOfObservation.ToShortDateString()</td>
            <td><a asp-controller="Investigator" asp-action="CrimeInvestigator" asp-route-id="@err.ErrandId">@err.RefNumber</a></td>
            <td>@err.TypeOfCrime</td>
            <td>@err.StatusName</td>
            <td>@err.DepartmentName</td>
            <td>@err.EmployeeName</td>
        </tr>
    }
    <!--
    <tr>
        <td>2022-05-01</td>
        <td><a asp-controller="Investigator" asp-action="CrimeInvestigator">2022-45-0201</a></td>
        <td>Oljeutsläpp</td>
        <td>Ej startad</td>
        <td>Tekniska avloppshanteringen</td>
        <td>Ingen utredare satt</td>
    </tr>
    -->
</table>